/bin/
/build/
/var/

_state*
.DS_Store
.pipeline
pipeline
!pipeline/
vault/*
config/config.toml
config/config.yaml
etc/config/dex.yml
config/ui/feature-set.json
config/ui/*~
*.bak
*.swp
*.csr
*.pem
!config/certs/*.pem
*/main/main.go
test.txt
/vendor/
/.docker/
/docker-compose.override.yml
/.licensei.cache
/.env

# IDE integration
/.idea/*
!/.idea/copyright/
!/.idea/*.iml
!/.idea/externalDependencies.xml
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/scopes/

