version: "3.1"

services:
    mysql:
        # needed for Linux users
        # user: "${uid}:${gid}"
        ports:
            - 127.0.0.1:3306:3306
        volumes:
            - ./.docker/volumes/mysql:/var/lib/mysql

    postgres:
        image: postgres:9.6
        environment:
            POSTGRES_DB: pipeline
            POSTGRES_USER: sparky
            POSTGRES_PASSWORD: sparky123
            PGDATA: /var/lib/postgresql/data/pgdata/
        ports:
            - 127.0.0.1:5432:5432
        volumes:
            - ./.docker/volumes/postgres:/var/lib/postgresql/data/pgdata/
            - ${PWD}/database/docker-init-postgres.sql:/docker-entrypoint-initdb.d/docker-init.sql

    adminer:
        ports:
            - 127.0.0.1:8080:8080

    vault:
        ports:
            - 127.0.0.1:8200:8200
        volumes:
            - ./.docker/volumes/vault/file:/vault/file

    vault-unsealer:
        # needed for Linux users
        # user: "${uid}:${gid}"
        volumes:
            - ./.docker/volumes/vault/keys:/vault/keys

    vault-configurer:
        # needed for Linux users
        # user: "${uid}:${gid}"
        volumes:
            - ./.docker/volumes/vault/keys:/vault/keys

    vault-token-helper:
        # needed for Linux users
        # user: "${uid}:${gid}"
        volumes:
            - ./.docker/volumes/vault/keys:/vault/keys

    cicd-server:
        ports:
            - 127.0.0.1:8000:8000
            - 127.0.0.1:9000:9000
        environment:
            # CICD_DATABASE_DRIVER:        postgres
            # CICD_DATABASE_DATASOURCE:    postgres://sparky:sparky123@postgres:5432/cicd?sslmode=disable
            # CICD_GITLAB:               "true"
            CICD_CORS_ALLOW_ALL_ORIGINS: "false"
            CICD_CORS_ALLOW_ORIGINS:     "http://localhost:4200"
            CICD_EXTERNAL_URL:           https://my-cicd.serveo.net
            PIPELINE_BASEPATH:           https://my-pipeline.serveo.net/pipeline
            PIPELINE_EXTERNAL_BASEPATH:  https://my-pipeline.serveo.net/pipeline

    cicd-agent:
        environment:
            PIPELINE_BASEPATH:          https://my-pipeline.serveo.net/pipeline
            PIPELINE_EXTERNAL_BASEPATH: https://my-pipeline.serveo.net/pipeline

    ui:
        image: banzaicloud/pipeline-web:latest
        environment:
            CLOUDINFO_URL: http://localhost:4200/cloudinfo
            RECOMMENDER_URL: http://localhost:4200/recommender
            API_URL: http://localhost:9090
            CICD_URL: http://localhost:8000

    uiproxy:
        build: etc/docker/uiproxy
        ports:
            - 127.0.0.1:4200:80
        volumes:
            - ./config/ui/feature-set.json:/usr/share/nginx/html/assets/config/feature-set.json

    dex:
        ports:
            - 127.0.0.1:5556:5556
            - 127.0.0.1:5557:5557
            - 127.0.0.1:5558:5558
        volumes:
            - ./.docker/volumes/dex:/dex

    cadence:
        ports:
            - 127.0.0.1:7933:7933
            - 127.0.0.1:7934:7934
            - 127.0.0.1:7935:7935

    cadence-web:
        ports:
            - 127.0.0.1:8088:8088

# Uncomment the following two services to enable Anchore.
#    anchore-db:
#        image: "postgres:9"
#        environment:
#            - POSTGRES_PASSWORD=mysecretpassword
#            - PGDATA=/var/lib/postgresql/data/pgdata/
#        ports:
#            - "5432:5432"
#        volumes:
#            - ./.docker/volumes/anchore-db:/var/lib/postgresql/data/pgdata/:z
#
#    anchore-engine:
#        image: docker.io/anchore/anchore-engine:v0.3.2
#        depends_on:
#            - anchore-db
#        environment:
#            - ANCHORE_HOST_ID=dockerhostid-anchore-engine
#            - ANCHORE_ENDPOINT_HOSTNAME=anchore-engine
#        ports:
#            - "8228:8228"
#            - "8338:8338"
#        volumes:
#            - ./config/anchore-config.yaml:/config/config.yaml:z

#     ldap:
#         image: osixia/openldap:1.2.2
#         ports:
#             - 127.0.0.1:389:389
#         volumes:
#             - ldap-config:/container/service/slapd/assets/config/bootstrap/ldif/custom/
#         environment:
#             LDAP_REMOVE_CONFIG_AFTER_SETUP: "false"
#             LDAP_TLS: "false"
#     ldap-config:
#         image: osixia/openldap:1.2.2
#         command: cp /tmp/ldap.ldif /ldap-config/
#         volumes:
#             - ./config/ldap.ldif:/tmp/ldap.ldif
#             - ldap-config:/ldap-config

# volumes:
#   ldap-config:
