version: "3.1"
services:
    db:
        # needed for Linux users
        # user: "${uid}:${gid}"
        ports:
            - 3306:3306
        volumes:
            - ./.docker/volumes/mysql:/var/lib/mysql
    adminer:
        ports:
            - 8080:8080
    vault:
        ports:
            - 8200:8200
        volumes:
            - ./.docker/volumes/vault/file:/vault/file

    vault-unsealer:
        # needed for Linux users
        # user: "${uid}:${gid}"
        volumes:
            - ./.docker/volumes/vault/keys:/vault/keys

    vault-configurer:
        # needed for Linux users
        # user: "${uid}:${gid}"
        volumes:
            - ./.docker/volumes/vault/keys:/vault/keys

    vault-token-helper:
        # needed for Linux users
        # user: "${uid}:${gid}"
        volumes:
            - ./.docker/volumes/vault/keys:/vault/keys

    dex:
        ports:
            - 5556:5556
            - 5558:5558
        volumes:
            - ./.docker/volumes/dex:/dex

    cicd-server:
        ports:
            - 8000:8000
            - 9000

    ui:
        image: banzaicloud/pipeline-web:latest
        environment:
            CLOUDINFO_URL: http://localhost:4200/cloudinfo
            RECOMMENDER_URL: http://localhost:4200/recommender
            API_URL: http://localhost:9090
            CICD_URL: http://localhost:8000

    uiproxy:
        build: etc/docker/uiproxy
        ports:
            - 127.0.0.1:4200:80

    anchore-engine:
        image: docker.io/anchore/anchore-engine:v0.3.0
        #privileged: true
        depends_on:
            - anchore-db
        ports:
            - "8228:8228"
            - "8338:8338"
        volumes:
            - ${PWD}/config/anchore-config.yaml:/config/config.yaml:z
        environment:
            - ANCHORE_HOST_ID=dockerhostid-anchore-engine
            - ANCHORE_ENDPOINT_HOSTNAME=anchore-engine
    anchore-db:
        image: "postgres:9"
        environment:
            - POSTGRES_PASSWORD=mysecretpassword
            - PGDATA=/var/lib/postgresql/data/pgdata/
        ports:
            - "5432:5432"
        volumes:
            - ./.docker/volumes/anchore-db:/var/lib/postgresql/data/pgdata/:z
