version: "3.1"

services:
    db:
        image: mysql:5.7
        command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: example
            MYSQL_DATABASE: pipeline
            MYSQL_USER: sparky
            MYSQL_PASSWORD: sparky123
        volumes:
            - ${PWD}/database/docker-init.sql:/docker-entrypoint-initdb.d/docker-init.sql

    adminer:
        image: adminer
        restart: always

    vault:
        image: vault:0.11.0
        restart: always
        cap_add:
            - IPC_LOCK
        volumes:
            - $HOME:/home/vault

    vault-configurer:
        image: vault:0.11.0
        depends_on:
            - vault
            - db
        restart: "no"
        command:
            - /bin/vault-enable-database.sh
        environment:
            VAULT_ADDR: http://vault:8200
        volumes:
            - $HOME:/root
            - ./scripts/vault-enable-database.sh:/bin/vault-enable-database.sh

    drone-server:
        image: banzaicloud/drone:0.4.0
        restart: always
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        entrypoint:
            - /bin/drone-server
        environment:
            DRONE_HOST:                 http://localhost:8000
            DRONE_DEBUG:                "true"
            DRONE_GITHUB:               "true"
            DRONE_GITHUB_CLIENT:
            DRONE_GITHUB_SECRET:
            DRONE_OPEN:                 "true"
            DRONE_ORGS:
            DRONE_PROVIDER:             github
            DRONE_DATABASE_DRIVER:      mysql
            DRONE_DATABASE_DATASOURCE:  root:example@tcp(db:3306)/drone?parseTime=true
            DRONE_SECRET: "s3cr3t"
            DRONE_REPO_CONFIG: ".banzaicloud/pipeline.yaml"

    drone-agent:
        image: banzaicloud/drone:0.3.0
        restart: always
        depends_on:
            - drone-server
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        entrypoint:
            - /bin/drone-agent
        environment:
            DRONE_SERVER: drone-server:9000
            DRONE_SECRET: "s3cr3t"
