version: "3.1"

services:
    mysql:
        image: mysql:5.7
        command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        environment:
            MYSQL_ROOT_PASSWORD: example
            MYSQL_DATABASE: pipeline
            MYSQL_USER: sparky
            MYSQL_PASSWORD: sparky123
        volumes:
            - ${PWD}/database/docker-init-mysql.sql:/docker-entrypoint-initdb.d/docker-init.sql

    adminer:
        image: adminer

    vault:
        image: vault:1.1.0
        command: server
        cap_add:
            - IPC_LOCK
        volumes:
            - $HOME:/home/vault
            - ./scripts/vault.hcl:/vault/config/vault.hcl

    vault-unsealer:
        image: banzaicloud/bank-vaults:0.4.15
        depends_on:
            - vault
        restart: on-failure
        command: unseal --init --mode file --file-path /vault/keys
        environment:
            VAULT_ADDR: http://vault:8200
        volumes:
            - ./scripts/vault-config.yml:/vault-config.yml

    vault-configurer:
        image: banzaicloud/bank-vaults:0.4.15
        depends_on:
            - vault
            - vault-unsealer
        restart: on-failure
        command: configure --mode file --file-path /vault/keys
        environment:
            VAULT_ADDR: http://vault:8200
        volumes:
            - ./scripts/vault-config.yml:/vault-config.yml

    vault-token-helper:
        image: alpine
        depends_on:
            - vault-configurer
        restart: on-failure
        command: cp /vault/keys/vault-root /root/.vault-token
        volumes:
            - $HOME:/root

    cicd-server:
        image: banzaicloud/cicd:0.8.7
        entrypoint:
            - /bin/cicd-server
        restart: on-failure
        environment:
            CICD_HOST:                http://localhost:8000
            CICD_DEBUG:               "true"
            CICD_GITHUB:              "true"
            CICD_OPEN:                "true"
            CICD_ORGS:
            CICD_DATABASE_DRIVER:     mysql
            CICD_DATABASE_DATASOURCE: sparky:sparky123@tcp(mysql:3306)/cicd?parseTime=true
            CICD_SECRET:              "s3cr3t"
            CICD_REPO_CONFIG:         ".banzaicloud/pipeline.yaml"

    cicd-agent:
        image: banzaicloud/cicd:0.8.7
        depends_on:
            - cicd-server
        volumes:
            - $HOME/.kube:/root/.kube
            - $HOME/.minikube:/root/.minikube
        entrypoint:
            - /bin/cicd-agent
        restart: on-failure
        environment:
            CICD_SERVER: cicd-server:9000
            CICD_SECRET: "s3cr3t"

    ui:
        image: banzaicloud/pipeline-web:0.7.0
        environment:
            TAG: local

    uiproxy:
        build: etc/docker/uiproxy
        depends_on:
            - ui
        environment:
            CLOUDINFO_URL: https://beta.banzaicloud.io/cloudinfo
            RECOMMENDER_URL: https://beta.banzaicloud.io/recommender

    dex:
        image: banzaicloud/dex-shim:0.3.5
        command: serve /dex.yml
        volumes:
            - ./config/dex.yml:/dex.yml

    cadence:
        image: ubercadence/server:0.5.8
        environment:
            LOG_LEVEL: debug,info
            DB: mysql
            MYSQL_SEEDS: mysql
            MYSQL_USER: sparky
            MYSQL_PWD: sparky123
        volumes:
            - ./config/cadence.yml:/cadence/config/docker_template_mysql.yaml
        depends_on:
            - mysql

    cadence-web:
        image: ubercadence/web:3.3.1
        environment:
            CADENCE_TCHANNEL_PEERS: cadence:7933
        depends_on:
            - cadence
