{
    "createIssue": true,
    "menuSpotguides": true,
    "menuCICD": true,
    "menuStorage": true,
    "menuFederation": true,
    "menuServiceMesh": true,
    "menuDisasterRecovery": true,
    "menuSecurityScan": true,
    "menuAuthProviders": true,
    "menuRegistry": true,
    "menuGroupApplication": true,
    "menuGroupInfrastructure": true,
    "menuGroupSecurity": true,
    "menuGroupIntegration": true,
    "notConfiguredProviders": true,
    "monitoring": true,
    "logging": true,
    "advancedNetwork": true,
    "nodePoolLabeling": true,
    "horizontalPodAutoscaler": true,
    "onDemandNodeAffinity": true,
    "azurePKE": true
}
