#environment
[dev]

#database settings
dialect = "mysql"
host = "localhost"
port = 3306
user = "sparky"
password = "sparky123"
dbname = "sparky"

#logger settings
logformat = "text"
loglevel = "debug"

#cloud profiles
cloudprovider = "aws"
cloudprofile = "default" #defaults to func getCluster - see https://github.com/kris-nova/kubicorn/tree/master/profiles

#helm properties
chartpath = "/opt/helm"

#auth0 configs
auth0pub = "./conf/auth0api.pub"

# SSH key path
#dev.keypath = ""

# GitHub settings
clientid = ""
clientsecret = ""
