#environment
[dev]

#database settings
dialect = "mysql"
host = "localhost"
port = 3306
user = "sparky"
password = "sparky123"
dbname = "sparky"

#logger settings
logformat = "text"
loglevel = "debug"

#cloud profiles
cloudprovider = "aws"
cloudprofile = "default" #defaults to func getCluster - see https://github.com/kris-nova/kubicorn/tree/master/profiles

#auth0 configs
auth0pub = "./conf/auth0api.pub"

# SSH key path
#dev.keypath = ""

# GitHub settings
clientid = ""
clientsecret = ""

# AccessToken settings
# tokensigningkey = ""

[helm]

#helm retry configs
retryAttempt = 30
retrySleepSeconds = 15

#helm repo URLs
stableRepositoryURL = "https://kubernetes-charts.storage.googleapis.com"
banzaiRepositoryURL = "http://kubernetes-charts.banzaicloud.com"
