#environment
[dev]

#database settings
dialect = "mysql"
host = "localhost"
port = 3306
user = "sparky"
password = "sparky123"
dbname = "sparky"

#logger settings
logformat = "text"
loglevel = "debug"

#cloud profiles
cloudprovider = "aws"
cloudprofile = "default" #defaults to func getCluster - see https://github.com/kris-nova/kubicorn/tree/master/profiles

# GKE credential path
gkeCredentialPath = ""

[auth]
authenabled = "false"

# GitHub settings
clientid = ""
clientsecret = ""

# AccessToken settings
tokensigningkey = "mys3cr3t"
jwtissueer = "https://banzaicloud.com/"
jwtaudience = "https://pipeline.banzaicloud.com"

[helm]

#helm retry configs
retryAttempt = 30
retrySleepSeconds = 15

#helm repo URLs
stableRepositoryURL = "https://kubernetes-charts.storage.googleapis.com"
banzaiRepositoryURL = "http://kubernetes-charts.banzaicloud.com"
