{
  "id": "8b8bf212-5526-33f8-dc62-61167d9b5f56",
  "name": "Demo CP",
  "values": [
    {
      "enabled": true,
      "key": "url",
      "value": "http://54.246.247.135/pipeline",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "cluster_id",
      "value": "17",
      "type": "text"
    },
    {
      "enabled": true,
      "key": "deployment_name",
      "value": "nameee",
      "type": "text"
    }
  ],
  "timestamp": 1504685149537,
  "_postman_variable_scope": "environment",
  "_postman_exported_at": "2017-09-06T12:54:32.795Z",
  "_postman_exported_using": "Postman/5.2.0"
}