# This is the example configuration for pipeline

[pipeline]
# Pipeline configs

listenport = 9090

# Url basepath, default is empty
basepath = ""

# Use to redirect url after login
uipath = "/account/repos"

[database]
dialect = "mysql"
host = "localhost"
port = 3306
user = "sparky"
role = "pipeline"
password = "sparky123"
dbname = "pipeline"
logging = true

[logging]
logformat = "text"
loglevel = "debug"
kubicornloglevel = "debug"

[cloud]
configRetryCount = 30
configRetrySleep = 15

#[cors]

[statestore]
path = ""

[drone]
url = "http://localhost:8000"

[github]
token = "YourPersonalAccessToken"

[auth]
# GitHub settings
clientid = ""
clientsecret = ""

tokensigningkey = "Th1s!sMyR4Nd0MStri4gPleaseChangeIt"
jwtissueer = "https://banzaicloud.com/"
jwtaudience = "https://pipeline.banzaicloud.com"

secureCookie = true

# Domain field for cookies
cookieDomain = ""

[helm]
retryAttempt = 30
retrySleepSeconds = 15
tillerVersion = "v2.10.0"
path = "./orgs"

#helm repo URLs
stableRepositoryURL = "https://kubernetes-charts.storage.googleapis.com"
banzaiRepositoryURL = "http://kubernetes-charts.banzaicloud.com/branch/master"

[monitor]
grafanaAdminUsername = "admin"

# DNS service settings
[dns]
# base domain under which organisation level subdomains will be registered
domain = "example.org"

# Kubernetes namespace which the secret for interacting with external DNS server (Route53) is created into
secretNamespace = "default"

# The interval in mintutes at which the garbage collector runs to clean up unused organisation level domains
gcIntervalMinute = 1

gcLogLevel = "debug"

# AWS Route53 config
[route53]
# The window before the next AWS Route53 billing period starts when unused organisation level domains (which are older than 12hrs)
# are cleaned up
maintenanceWindowMinute = 15

# Pipeline infra environment namespace
[infra]
namespace = "pipeline-infra"

[eks]
templateLocation="https://raw.githubusercontent.com/banzaicloud/pipeline/master/templates/eks"

[gke]
resourceDeleteWaitAttempt = 12
resourceDeleteSleepSeconds = 5

[oke]
waitAttemptsForNodepoolActive = 60
sleepSecondsForNodepoolActive = 30

[cadence]
host = "127.0.0.1"
port = 7933
domain = "banzaicloud"
