# This is the example configuration for pipeline


[database]
# Database section

dialect = "mysql"
host = "localhost"
port = 3306
user = "sparky"
password = "sparky123"
dbname = "sparky"

[logging]
#logger settings
logformat = "text"
loglevel = "debug"
kubicornloglevel = "debug"

[cloud]
#cloud profiles
cloudprovider = "aws"
cloudprofile = "default" #defaults to func getCluster - see https://github.com/kris-nova/kubicorn/tree/master/profiles
keypath = "~"

# GKE credential path
gkeCredentialPath = ""

#[cors]

[drone]
enabled = false

[auth]
enabled = true
vaultpath = "./vault"

# GitHub settings
clientid = ""
clientsecret = ""

tokensigningkey = "mys3cr3t"
jwtissueer = "https://banzaicloud.com/"
jwtaudience = "https://pipeline.banzaicloud.com"

[helm]

#helm retry configs
# TODO retry what?
retryAttempt = 30
retrySleepSeconds = 15

# TODO explain what this is here
#helm repo URLs
stableRepositoryURL = "https://kubernetes-charts.storage.googleapis.com"
banzaiRepositoryURL = "http://kubernetes-charts.banzaicloud.com"
