# This is the example configuration for pipeline

[pipeline]
# Pipeline configs

listenport = 9090

# Url basepath, default is empty
basepath = ""

# Use to redirect url after login
uipath = "/account/repos"

[database]
dialect = "mysql"
host = "localhost"
port = 3306
user = "sparky"
role = "pipeline"
password = "sparky123"
dbname = "sparky"

[logging]
logformat = "text"
loglevel = "debug"
kubicornloglevel = "debug"

[cloud]
cloudprovider = "aws"
cloudprofile = "default" #defaults to func getCluster - see https://github.com/kris-nova/kubicorn/tree/master/profiles
configRetryCount = 30
configRetrySleep = 15
keypath = "~"

#[cors]

[statestore]
path = ""

[drone]

[auth]
# GitHub settings
clientid = ""
clientsecret = ""

tokensigningkey = "mys3cr3t"
jwtissueer = "https://banzaicloud.com/"
jwtaudience = "https://pipeline.banzaicloud.com"

[helm]
retryAttempt = 30
retrySleepSeconds = 15
tillerVersion = "v2.9.0"
path = "./orgs"

#helm repo URLs
stableRepositoryURL = "https://kubernetes-charts.storage.googleapis.com"
banzaiRepositoryURL = "http://kubernetes-charts.banzaicloud.com"
