# Default values for pipeline


## Resource definitions for Kubernetes resources
replicaCount: 1
# Upgrade strategy
strategy: {}

## Additional entries to the hosts
hostAliases: []
#  - ip: "127.0.0.1"
#    hostnames:
#      - "foo.local"
#      - "bar.local"

image:
  repository: banzaicloud/pipeline
  tag: 0.27.2
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 250m
    memory: 256Mi

worker:
  ## Resource definitions for Kubernetes resources
  replicaCount: 1
  # Upgrade strategy
  strategy: {}
  ## Additional entries to the hosts
  ## configuration is taken from the root level if not specified otherwise
  hostAliases: []
#    - ip: "127.0.0.1"
#      hostnames:
#        - "foo.local"
#        - "bar.local"
  # Image configuration is taken from the root level if not specified otherwise
  image: {}
    # repository: banzaicloud/pipeline
    # tag: 0.18.2
    # pullPolicy: IfNotPresent

  resources:
    requests:
      cpu: 250m
      memory: 256Mi

  deploymentLabels: {}
  deploymentAnnotations: {}

service:
  name: pipeline
  type: ClusterIP
  internalPort: 9090
  externalPort:  9090
  tls: true

serviceInternal:
  name: pipeline-internal
  type: ClusterIP
  externalPort:  9091
  internalPort: 9091
  tls: true

ingress:
  enabled: false
  annotations: {}
    #traefik.frontend.rule.type: PathPrefix
  hosts: []
    # - "/"
    # - "domain.com/xyz"
    # - "domain.com"
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

env: {}

## Additional deployment labels and annotations
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
deploymentLabels: {}
deploymentAnnotations: {}

## Pipeline metrics, rules and alerting configuration
metrics:
  enabled: false
  port: 9900
  serviceMonitor:
    enabled: false
    additionalLabels: {}
  alertRulesEnabled: false

## The Pipeline configuration definition
configuration:
  # Pipeline configs
  pipeline:
    bindaddr: 127.0.0.1:9090
    internalBindAddr: 127.0.0.1:9091
    # Url basepath
    # Default is "/pipeline" in the development environment to allow using the UI locally
    basepath: /pipeline

    # Use to redirect url after login
    uipath: /ui/
    signupRedirectPath: /ui/
  pipelineExternalBaseURL: https://localhost/pipeline

  cluster:
    ingress:
      cert:
        source: file
        path: /sign-ca
        ca:
          key: ""
          cert: ""

    labels:
      forbiddenDomains:
        - k8s.io
        - kubernetes.io
        - google.com
        - coreos.com
        - oraclecloud.com
        - node.info
        - azure.com
        - agentpool
        - storageprofile
        - storagetier

    monitoring:
      # Pipeline federated monitoring configurations
      monitor:
        enabled: false
        configMap: prometheus-federation
        certSecret: prometheus-federation-secrets
        mountPath: /etc/prometheus/secrets

    securityScan:
      anchore:
        enabled: false
        user: admin
        secretName: ""
        secretKey: adminPassword

  # CORS configuration
  cors:
    AllowAllOrigins: false
    AllowOrigins: []
    AllowOriginsRegexp: ".*"

  cicd:
    url: http://cicd:8000

  github:
    token: ""

  # Authentication
  auth:
    oidc:
      issuer: http://dex:5556/dex
      clientId: ""
      clientSecret: ""

    token:
      signingKey: ""

  # Pipeline Helm related configuration
  helm:
    home: "/cache/helm"

##
## Vault connector settings
##
vault:
  # Vault service endpoint
  serviceAddress: "https://vault:8200"
  # The secret that holds the Vault CA cert.
  # If left empty SKIP_VERIFY will be used.
  tlsSecret: ""

statestore:
  persistence:
    enabled: true

    ## A manually managed Persistent Volume and Claim
    ## Requires persistence.enabled: true
    ## If defined, PVC must be created manually before volume will be bound
    # existingClaim:

    ## Pipeline StateStore data Persistent Volume Storage Class
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    # storageClass: "-"
    accessMode: ReadWriteOnce
    size: 128Mi

##
## MySQL configuration
## Read more: https://github.com/helm/charts/tree/master/stable/mysql
##
mysql:
  enabled: false

## Postgres configuration
## Read more: https://github.com/helm/charts/tree/master/stable/postgresql
##
postgres:
  enabled: true
  service: {}

##
## CloudSQL configuration
## Read more: https://github.com/rimusz/charts/tree/master/stable/gcloud-sqlproxy
##
cloudsql:
  enabled: false
  cloudsql:
    instances: []
    # instances:
    #   - project:
    #     region:
    #     instance:
    #     port:

# Database configuration
database:
  # mysql, postgres
  driver: ""
  host: ""
  port: ""
  tls: ""
  name: "pipeline"
  username: "pipeline-rw"
  password: ""
  existingSecret: ""

global:
  postgresql: {}
