name: Integrated Service test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  is-test:
    runs-on: ubuntu-latest
    env:
      VERBOSE: 1
      GOFLAGS: -mod=readonly

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Go build cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-go-build-${{ hashFiles('**/*.go', '**/go.mod', '**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-build-

      - name: Create kind cluster and run tests
        run: |
          make test-integrated-service-up
          make build-worker
          make test-integrated-service-worker &
          pid=$!
          make test-integrated-service
          kill $pid
